<h3>スケジュール一覧</h3>

<div class="flash">
  <% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
  <% end %>
</div>

<div class="main">
  <table>
  <thread>
    <tr>
    <th>ID</th>
    <th>タイトル</th>
    <th>開始日</th>
    <th>終了日</th>
    <th>終日</th>
    <th>スケジュール更新日時</th>
    <th>確認</th>
    <th>編集</th>
    <th>削除</th>
    </tr>
  </thread>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
      <td><%= task.id %></td>
      <td><%= task.title %></td>
      <td><%= task.startdate.to_s(:date_jp) %></td>
      <td><%= task.enddate.to_s(:date_jp) %></td>
      <% if task.allday %>
        <td>○</td>
      <% else %>
        <td></td>
      <% end %>
      <td><%= task.updated_at.to_s(:datetime_jp) %></td>
      <td>
        <%= link_to "確認", task_path(task.id) %>
      </td>
      <td>
        <%= link_to "編集", edit_task_path(task.id) %>
      </td>
      <td>
        <%= link_to "削除", task_path(task.id), method: :delete, data:{confirm:"本当に削除しますか？"} %>
      </td>
      </tr>
    <% end %>
  </tbody>
  </table>

  <p>（スケジュール合計：<%= @tasks.count %>）</p>

  <p><%= link_to "スケジュール新規登録", :new_task %></p>
</div>